<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yihou.alfred-zoxide</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>06B09CC4-667A-4041-8E57-B89912E3E931</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5544689-113F-4CB1-B0FE-0F34CACE99A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1049A4F8-86E7-40DD-87FE-677CE600603F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>06B09CC4-667A-4041-8E57-B89912E3E931</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open "{query}" in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>778AE989-079D-431A-BE6A-776BCB3F4D0F</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5544689-113F-4CB1-B0FE-0F34CACE99A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>778AE989-079D-431A-BE6A-776BCB3F4D0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5544689-113F-4CB1-B0FE-0F34CACE99A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Loo Yi Hou</string>
	<key>description</key>
	<string>A simple workflow to search and navigate directories that are saved in zoxide</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zoxide</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>z {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>z</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>max_display_path_length=50
ellipsis="..."

# query with trimmed white space
query=$(echo $1 | tr -s '[:blank:]')

results=$(zoxide query $query -l)

# Read each line of the multiline string into an array
IFS=$'\n' read -d '' -ra items &lt;&lt;&lt;"$results"

echo "&lt;?xml version='1.0'?&gt;"
echo "&lt;items&gt;"
if [ -z "$items" ]; then
	echo "&lt;item arg='${query}' valid='no'&gt;&lt;title&gt;No directories found.&lt;/title&gt;&lt;/item&gt;"
else

	# Loop through each item of the array
	for item in "${items[@]}"; do
		title="$(basename "$item")"
		full_path="${item}"
		if ((${#full_path} &gt; $max_display_path_length)); then
			trimmed_path="${ellipsis}${full_path:${#full_path}-$max_display_path_length}"
		else
			trimmed_path="$item"
		fi
		# trim the path if it's too long
		echo "&lt;item arg='${full_path}' valid='yes'&gt;"
		echo "&lt;title&gt;${title}&lt;/title&gt;"
		echo "&lt;subtitle&gt;${trimmed_path}&lt;/subtitle&gt;"
		echo "&lt;type&gt;file&lt;/type&gt;"
		echo "&lt;/item&gt;"
	done
fi
echo "&lt;/items&gt;"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select a directory</string>
				<key>title</key>
				<string>Key in search keyword(s)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1049A4F8-86E7-40DD-87FE-677CE600603F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>06B09CC4-667A-4041-8E57-B89912E3E931</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/yihou/alfred-zoxide/master/src/info.plist'
readonly workflow_url='yihou/alfred-zoxide'
readonly download_type='github_release'
readonly frequency_check='7'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  readonly local notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  readonly local terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5544689-113F-4CB1-B0FE-0F34CACE99A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>778AE989-079D-431A-BE6A-776BCB3F4D0F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A simple Alfred workflow to search and navigate directories that are saved in zoxide

Installation
1. Install Zoxide from https://github.com/ajeetdsouza/zoxide
2. Install alfred-zoxide workflow.</string>
	<key>uidata</key>
	<dict>
		<key>06B09CC4-667A-4041-8E57-B89912E3E931</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>1049A4F8-86E7-40DD-87FE-677CE600603F</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>778AE989-079D-431A-BE6A-776BCB3F4D0F</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>C5544689-113F-4CB1-B0FE-0F34CACE99A2</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/yihou/alfred-zoxide</string>
</dict>
</plist>
